.App {
  text-align: center;
}

ul {
  list-style-type: none;
}

.app-nav {
  display: flex;
	justify-content: space-between;
  align-items: center;
  background: rgb(0, 0, 0);
  color: white;
  width: 100vw;
  position: fixed;
  z-index: 3;
}

.app-name {
  margin-left: 1rem;
  text-decoration: none;
  color: white; 
}