.client-card {
    width: 100vw; 
    display: grid; 
    grid-template-columns: 2.5fr .2fr 3fr 3fr .1fr;
    border: 1px solid black;
    list-style: none
}

li{
    list-style: none;
}

.col-1 {
    grid-column: 2;
    text-align: left; 
    margin-left: 5px; 
}

.col-2 {
    grid-column: 3;
    text-align: left; 
}

.col-3 {
    grid-column: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-header {
    text-align: left;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px solid black;
}

.header-text {
    margin-left: 10px;
}

.header-button {
    margin-top: 1.5em;
    margin-right: 3em;

    background-color: white;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:400;
    color:black;
    text-align:center;
    transition: all 0.25s;
    font-size: 16px;
    width: 160px; 
    height: 40px;
}

.page-header button:hover {
  color:white;
  background-color:black;
  cursor: pointer;
}

.edit{
    margin-left: 11em;
    display:inline-block;
    padding:0.7em 1.4em;
    border-radius:0.15em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:100;
    color:#FFFFFF;
    background-color:#7494eb;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
}

.edit:hover {
    cursor: pointer;
}

.edit:active{
    top:0.1em;
}
.images{
   width: 5vw; 
   height: 5vh;
}